<footer class="page__footer">
  <div class="wrapper">
    <a class="ico-arrow" href="#" title="Ir al inicio de la página">
      <img src="./assets/images/ico-arrow.svg" alt="Ir al inicio de la página">
    </a>
    <nav class="footer-menu1">
      <ul>
        <li> <a href="https://adalab.es/" target="_blank" title="Articles">Articles</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Books">Books</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Event">Event</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Reasons">Reasons</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Tips">Tips</a> </li>
      </ul>
    </nav>
    <nav>
      <ulclass="footer-menu2">
        <li> <a href="https://twitter.com/Adalab_Digital" target="_blank" title="Twitter">Twitter</a> </li>
        <li> <a href="https://www.instagram.com/adalab_digital/" target="_blank" title="Instagram">Instagram</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Mastodon.social">Mastodon.social</a> </li>
        </ul>
    </nav>
    <div class="footer-small">
      <!-- recuerda ponerlo en uppercase -->
      <small>
        &copy; 2017
      </small>
      <small>
        we <i class="fas fa-heart"></i> components </small>
    </div>
  </div>
</footer>