<footer class="page__footer">
  <div class="wrapper">
    <div class="ico-arrow">
      <a href="#" title="Ir al inicio de la página">
        <img src="./assets/images/ico-arrow.svg" alt="Ir al inicio de la página">
      </a>
    </div>
    <nav class="footer-menu1">
      <ul class="footer-menu-list1">
        <li> <a href="https://adalab.es/" target="_blank" title="Articles">Articles</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Books">Books</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Event">Event</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Reasons">Reasons</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Tips">Tips</a> </li>
      </ul>
    </nav>
    <nav class="footer-menu2">
      <ul class="footer-menu-list2">
        <li> <a href="https://twitter.com/Adalab_Digital" target="_blank" title="Twitter">Twitter</a> </li>
        <li> <a href="https://www.instagram.com/adalab_digital/" target="_blank" title="Instagram">Instagram</a> </li>
        <li> <a href="https://adalab.es/" target="_blank" title="Mastodon.social">Mastodon.social</a> </li>
      </ul>
    </nav>
    <div class="footer-small">
      <small class="copy">
        &copy; 2017
      </small>
      <small class="love">
        we <i class="fas fa-heart"></i> components </small>
    </div>
  </div>
</footer>