<section class="page__section2">
  <div class="wrapper">
    <h2 class="h2" id="reasons"> 3 reasons to purchase</h2>
    <div class="reasons">
      <article>
        <h3>Ut sed metus</h3>
        <p>
          Lorem impsum dolor sit amet, consecteur.</p>
      </article>
      <article>
        <h3>
          Curabitur ac erat</h3>
        <p>Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article>
        <h3>Morbi dictum</h3>
        <p>Aliquam in dolor et dolor tincidunt.</p>
      </article>
    </div>
    <div class="button-reasons">
      <a href="#" title="More reasons">More reasons</a>
    </div>
  </div>
</section>