.page__footer {
  background-color: $color-footer;
  color: $color-light;

  .wrapper {
    padding-left: 0.8333rem;
    padding-right: 0.8333rem;
    width: 100%;
    @include tablet {
      padding-right: 2.222rem;
      padding-left: 2.222rem;
      display: flex;
      justify-content: space-around;
    }
    @include desktop {
      padding-right: 20.56rem;
      padding-left: 20.56rem;
      justify-content: space-between;
    }
    .ico-arrow {
      background-color: $color-light;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1.222rem;
      box-shadow: 0 2px 4px 0 var(--black-50);
      color: $color-button;
      font-size: 1.111rem;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      align-items: center;
      text-align: center;

      .ico-arrow-top {
        padding: 0.3rem;
        img {
          font-size: 1.333rem;
          transform: translate(0, 85%);
          animation-name: intro;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          @keyframes intro {
            from {
              transform: translate(0, 85%);
            }
            to {
              transform: translate(0, 40%);
            }
          }
        }
      }
    }
    .footer-menu1,
    .footer-menu2 {
      line-height: 1.667rem;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      text-align: center;
      padding-top: 1.556rem;
      @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        padding-top: 2.5rem;
        order: 2;
        width: 30%;
        margin: 0;
        padding-left: 0px;
      }

      .footer-menu-list1,
      .footer-menu-list2 {
        font-size: 0.8889rem;
        a {
          padding: 0.5rem;
        }
      }
    }
    .footer-menu1 {
      padding-top: 3.33rem;
      @include tablet {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
      }
    }
    .footer-small {
      font-size: 0.777rem;
      text-align: center;
      flex-wrap: wrap;
      padding-top: 1.556rem;
      padding-bottom: 2.5rem;
      @include tablet {
        flex-direction: row;
        justify-content: flex-start;
        text-align: start;
        padding-top: 2.5rem;
        order: 1;
        width: 25%;
      }
      .copy {
        display: block;
        width: 100%;
      }
      .love {
        display: block;
        width: 100%;
        margin-bottom: 2.5rem;
        margin-top: 1rem;
        .fas {
          color: $color-button;
        }
      }
    }
  }
}
