.page__hero {
  height: 100vh;
  background-image: url("../../assets/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 100vh;
    padding-left: 0.8333rem;
    padding-right: 0.8333rem;
    @include tablet {
      padding-left: 2.167rem;
      padding-right: 2.167rem;
      padding-bottom: 0;
    }
    @include desktop {
      padding-left: 200px;
      padding-right: 200px;
    }
    h1 {
      font-size: 2.333rem;
      color: $color-light;
      text-transform: uppercase;
      font-family: $font-secondary;
      margin-top: 33vh;
      text-align: center;
      margin-bottom: 0px;
      font-weight: bold;
      @include tablet {
        font-size: 4.444rem;
        margin-bottom: 0;
        line-height: 6rem;
        margin-top: 21.33rem;
      }
      @include desktop {
        font-size: 5.556rem;
      }
    }
    .span {
      font-size: 0.8889rem;
      color: $color-light;
      font-family: $font-primary;
      text-align: center;
      margin-top: 0.5556rem;
      @include tablet {
        font-size: 1.333rem;
      }
    }
    a {
      align-self: center;
      background-color: $color-light;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      transform: translate(0, 100%);
      @include tablet {
        transform: translate(0, 0%);
        margin: auto;
      }
      @include desktop {
        transform: translate(0, 40%);
      }
    }
  }
}
