.page__section2 .wrapper {
  display: flex;
  padding-left: 0.8333rem;
  padding-right: 0.8333rem;
  background-color: $color-secondary;
  flex-direction: column;
  justify-content: center;
  @include tablet {
    padding-right: 1.944rem;
    padding-left: 1.944rem;
  }
  @include desktop {
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }
  .h2 {
    text-transform: capitalize;
    font-family: $font-secondary;
    font-size: 1.333rem;
    text-align: center;
    margin-top: 1.667rem;
    font-weight: bold;
    @include tablet {
      font-size: 1.444rem;
    }
    @include desktop {
      margin-top: 3.333rem;
      font-size: 1.778rem;
    }
  }
  .reasons {
    padding-left: 3.056rem;
    padding-right: 3.056rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1.446rem;
      padding-right: 0px;
      padding-left: 0px;
    }
    .art1,
    .art2,
    .art3 {
      h3 {
        margin-top: 2.5rem;
        font-family: $font-secondary;
        line-height: 1.667rem;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        @include tablet {
          font-size: 1.333rem;
        }
      }
      p {
        line-height: 1.667rem;
        text-align: center;
        font-size: 1rem;
        @include tablet {
          font-size: 1.111rem;
          padding: 4px;
          margin-top: 10px;
        }
      }
    }
  }
  .button-reasons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-button;
    color: $color-light;
    width: 10.22rem;
    height: 2.5rem;
    line-height: 1.667rem;
    border-radius: 1.222rem;
    margin-top: 2.5rem;
    margin-bottom: 3.333rem;
    align-self: center;
    transition: color ease 0.8s, background-color ease 0.8s, border ease 0.8s;
    a {
      width: 100%;
      text-align: center;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    &:hover {
      color: $color-button;
      background-color: $color-light;
      border: 0.2rem dotted $color-button;
    }
    @include tablet {
      font-size: 1.111rem;
      width: 11.67rem;
      height: 2.5rem;
      margin-top: 3.333rem;
    }
    @include desktop {
      width: 14.17rem;
      text-transform: capitalize;
    }
  }
}
