.page__section1 .wrapper {
  padding-left: 0.8333rem;
  padding-right: 0.8333rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 1.667rem;
  margin-bottom: 2.5rem;
  @include tablet {
    padding-left: 2.167rem;
    padding-right: 2.167rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-top: 1.667rem;
    margin-bottom: 3.333rem;
  }
  @include desktop {
    padding-left: 15.28rem;
    padding-right: 15.28rem;
    margin-top: 3.333rem;
  }
  span {
    margin-top: 1.667rem;
    line-height: 1.667rem;
    font-size: 0.7778rem;
    color: $color-tertiary;
    @include desktop {
      font-size: 0.8889rem;
      margin-top: 3.333rem;
    }
  }
  .h2 {
    text-transform: capitalize;
    font-family: $font-secondary;
    font-size: 1.333rem;
    color: $color-primary;
    font-weight: bold;
    @include tablet {
      font-size: 1.444rem;
      line-height: 2.5rem;
    }
  }
  p {
    font-size: 1rem;
    line-height: 1.111rem;
    color: $color-paragraph;
    margin-top: 15px;
    @include tablet {
      font-size: 1.111rem;
    }
  }
  .button-go {
    width: 4.222rem;
    height: 2.5rem;
    margin-top: 1.667rem;
    margin-bottom: 2.5rem;
    border-radius: 1.222rem;
    border: 0.111rem solid $color-button;
    color: $color-button;
    font-size: 1.111rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: font-weight ease 0.8s;
    @include tablet {
      margin-bottom: 3.333rem;
      width: 5.056rem;
    }
    @include desktop {
      width: 8.889rem;
    }
    &:hover {
      font-weight: bold;
      border: 0.222rem solid $color-button;
      margin-top: 1.66rem;
      margin-bottom: 3.33rem;
    }
    a {
      padding-top: 0.4333rem;
      width: 100%;
      text-align: center;
    }
  }
}
